# =========================
# Ignorar configuraciones locales
# =========================
.DS_Store
Thumbs.db

# =========================
# Node.js / npm (Carpeta /back)
# =========================
back/node_modules/
back/npm-debug.log*
back/yarn-debug.log*
back/yarn-error.log*
back/package-lock.json
back/pnpm-lock.yaml

# =========================
# Angular / CLI (Carpeta /front)
# =========================
heroeFront/node_modules/
heroeFront/dist/
heroeFront/out-tsc/
heroeFront/.angular/
heroeFront/package-lock.json
heroeFront/pnpm-lock.yaml

# Archivos de entorno específicos (útil si los configuras por separado)
# heroeFront/src/environments/environment.ts